@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Product Web App</h1>
    <p>Product App It is A Web app where you can add a Product as well as Edit,Delete or View an Product Details</p>
</div>
